{% extends '::layout/layout.html.twig' %}


{% block body %}

    <section id="about-us">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Bienvenue sur Permis Futé !</h2>
                <p class="lead">Auto-école spécialisé dans permis A et permis B<br> depuis 2002.</p>
            </div>
            <div>
                <img src={{ asset('images/slider_one.jpg') }} > 
            </div>
        </div>
    </div><!--/.container-->
</section><!--/about-us-->

<section id="services" class="service-item">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Nos services</h2>
            <p class="lead">C'est ici que vous pourrez retrouver tous <br> les services de Permis futé.</p>
        </div>

        <div class="row">

            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src={{ asset('images/services/services1.png') }}>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Code de la route</h3>
                        <p>Passez votre code de la route grâce à nos cours et séances à résultats directs.</p>
                        <a href="{{ path ('permisfute_services') }}">Plus d'informations</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src={{ asset('images/services/services2.png') }}>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Permis B</h3>
                        <p>Passez votre permis B auprès de nos 2 moniteurs très expérimentés.</p>
                        <a href="{{ path ('permisfute_services') }}">Plus d'informations</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src={{ asset('images/services/services3.png') }}>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Permis A</h3>
                        <p>Passez votre permis A avec un moniteur spécialisé dans ce permis.</p>
                        <a href="{{ path ('permisfute_services') }}">Plus d'informations</a>
                    </div>
                </div>
            </div>             
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#services-->

<section id="partner">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Nos partenaires</h2>
            <p class="lead">C'est ici que sont répertoriés <br> tous nos partenaires</p>
        </div>    

        <div class="partners">
            <ul>
                <li> <a href="http://www.total.fr/"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" src={{ asset('images/partners/partner1.png') }}></a></li>
                <li> <a href="https://www.renault.fr/"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" src={{ asset('images/partners/partner2.png') }}></a></li>
                <li> <a href="http://www.dell.fr/"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms" src={{ asset('images/partners/partner3.png') }}></a></li>
                <li> <a href="https://www.univ-paris5.fr/"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms" src={{ asset('images/partners/partner4.png') }}></a></li>
                <li> <a href="http://www.michelin.fr/"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1500ms" src={{ asset('images/partners/partner5.png') }}></a></li>
            </ul>
        </div>        
    </div><!--/.container-->
</section><!--/#partner-->

<section id="conatcat-info">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="pull-left">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="media-body">
                        <h2>Avez-vous une question ?</h2>
                        <p>Nous restons à votre disposition si vous avez une question, entre 8h et 20h par mail PermisFute@gmail.fr ou par téléphone au 01 23 56 70 80</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.container-->    
</section><!--/#conatcat-info-->

<section id="bottom">
    <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Entreprise</h3>
                    <ul>
                        <li><a href="#">à Propos</a></li>
                        <li><a href="#">Copyright</a></li>
                    </ul>
                </div>    
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Support</h3>
                    <ul>
                        <li><a href="{{ path ('permisfute_services') }}">Des questions?</a></li>
                    </ul>
                </div>    
            </div><!--/.col-md-3-->

            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Nos partenaires</h3>
                    <ul>
                        <li><a href="http://www.total.fr/">Total</a></li>
                        <li><a href="https://www.renault.fr/">Renault</a></li>
                        <li><a href="http://www.dell.fr/">DELL</a></li>
                        <li><a href="https://www.univ-paris5.fr/">Université Descartes</a></li>
                        <li><a href="http://www.michelin.fr/">Michelin</a></li>
                    </ul>
                </div>    
            </div><!--/.col-md-3-->
        </div>
    </div>
</section><!--/#bottom-->
{% endblock %}
